#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100px;
  padding: 30px;
  transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px rgba(100, 108, 255, 0.8));
}

.logo.react:hover {
  filter: drop-shadow(0 0 20px rgba(97, 218, 251, 0.8));
}

.shiny-black-background {
  background-color: #1c1c1c;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: #666;
  font-style: italic;
}
